.main-cont
{
	margin:0;
	padding:0;
	display:flex;
	flex-flow: row wrap; /* Располагаем в виде колонок */
}

.main-cont .left-part
{
	width:30%;
	margin:10px 5px 7px 5px;
	background-color: #0558AB;
	border: 4px outset #039DDF;
	height:501px;
}

.main-cont .left-part .fscroll
{
	height:470px;
	overflow-y:scroll;
	overflow-x:hidden;
}

.main-cont .left-part .filter-name
{
	padding-left: 5px;
	font-size: 25px;
	background-color: #7D46B5;
	border-bottom: 2px solid black;
}

.main-cont .left-part ul
{
	margin:0;
	padding:0;
	background-color: #0558AB;
	
}

.main-cont .left-part ul li
{
	list-style: none;
	padding:0;
	margin-bottom: 1px;
	width: 100%;
}
.main-cont .left-part ul li label .element_list
{
	display: flex;
	flex-flow: row wrap;
}

.main-cont .left-part ul li label .lft
{
	width:70%;
}

.main-cont .left-part ul li label .rt 
{
	width:30%;
	height: 0.5in;
}

.main-cont .left-part ul li label .rt input
{
	height:100%;
	width:100%;
}

.main-cont .left-part ul li label
{
	display:block;
	height: 0.5in;
	padding:8px 10px;
	margin:0 1px 0 0;
	background-color: #ECE0E7;
}

.main-cont .left-part ul li label:hover
{
	background-color: #C2F5EE;
}

.main-cont .left-part ul li label:active
{
	background-color: lightblue;	
}

.main-cont .left-part .but-choose form
{
	display: flex;
	flex-direction: row;
}
/*///////////////////////////////////////////////*/
.main-cont .left-part .button-next
{
	background-color: grey;
	width:40%;
}

.main-cont .left-part form .button-next input
{
	height:100%;
	width:100%;
}
/*////////////////////////////////////////////////*/
.main-cont .right-part
{
	margin: 0px 0px 7px 5px;
	padding:0;
	width:68%;
}

.main-cont .right-part .worker_block
{
	display:flex;
	background: #7FFFD4; /* Цвет фона */
	width: auto;
	border: 5px inset #8A2BE2;
	padding: 10px 20px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 5px;
}

.main-cont .right-part .worker_block img
{
	display: flex;
}

.main-cont .right-part .worker_block .worker_info
{
	display: flex;
	font-size: 20px;
	padding-left: 10px;
}