.main-cont
{
	margin:0;
	padding:0;
	display:flex;
	flex-flow: row wrap; /* Располагаем в виде колонок */
}

.main-cont .left-part
{
	width:20%;
	margin:10px 5px 7px 5px;
	padding: 5px 2px 5px 2px;
	background-color: grey;
	/*text-align: right;*/
}

.main-cont .left-part .lbl_knarea
{
	background-color: white;
	border:3px solid green;
}

.main-cont .left-part .lbl_knarea input
{
	float:right;
}

.main-cont .left-part .lbl_knarea span
{
	/*background-color: blue;*/
	text-align:center;
	width:70%;
}